.classes {
    margin-top: 20px;
    text-align: center;;
}

.titl {
    font-size: 500;
    opacity: 0.8;
    margin-top: 50px;
}

.class-desc {
    width: 80%;
    margin: auto;
}


.data {
    display: grid;
    width: 80%;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin: auto;
    margin-top: 15px;
}

.data-ele {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    box-shadow: rgba(0,0,0,0.05) 0px 3px 20px 0px, rgba(0,0,0,0.08) 0px 0px 0px 1px;
}


.data-ele img {
    width: 100%;
}

.view-btn {
    width: 50px;
    margin-right: 200px;
    
}